/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar a:hover {
    background-color: #555;
}

/* Estilos para las tarjetas (cards) */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: calc(25% - 2rem);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    -webkit-box-shadow: 19px 14px 25px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 19px 14px 25px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.75)
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    margin-top: 0.5rem;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

.details-button {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.details-button:hover {
    background-color: #555;
}

.card:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 1rem;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

/* Responsivo */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 2rem);
    }

    .navbar {
        flex-direction: column;
    }

    .navbar li {
        margin-bottom: 1rem;
    }
}
